<ion-header no-border>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-back-button text="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Movie Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-list>
      <ion-grid fixed>
        <ion-row align-items-stretch>
        <ion-col col-12 align-self-stretch align-self-center>
          <ion-card *ngIf="movie">
              <ion-item>
                <h2><b>{{ movie?.title }}</b></h2>
                <ion-chip color="tertiary" slot="end">
                  <ion-icon *ngIf="!movie.genreImage" name="pricetag" color="tertiary"></ion-icon>
                  <ion-img *ngIf="movie.genreImage" [src]="movie.genreImage" class="genre-image"></ion-img>
                  <ion-label>{{ movie?.genre }}</ion-label>
                </ion-chip>
              </ion-item>
              <ion-item class="image">
                  <img *ngIf="movie.poster" [src]="movie?.poster" height="300px" alt="Movie Poster Detail Page">
                  <img *ngIf="!movie.poster" src="https://in.bmscdn.com/iedb/movies/images/website/poster/large/ela-cheppanu-et00016781-24-03-2017-18-31-40.jpg" height="300px" alt="Empty Movie Poster Detail Page">
              </ion-item>
              <ion-card-content>
                <ion-item>
                  <p><ion-icon name="information-circle-outline"></ion-icon> {{ movie?.notes }}</p>
                  <ion-badge slot="end" (click)="watchTrailer()"><ion-icon name="eye"></ion-icon> Trailer</ion-badge>
                </ion-item>
                <ion-row>
                  <ion-item>
                    <p><ion-icon name="people"></ion-icon> {{ movie?.cast }}</p>
                  </ion-item>
                </ion-row>
              </ion-card-content>
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-button icon-left clear small class="action-button" *ngIf="movie.likes !== undefined">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{ movie?.likes }} Likes</div>
                  </ion-button>
                  <ion-button icon-left clear small *ngIf="movie.comments !== undefined" (click)="onClickShowComment()">
                    <ion-icon name="text"></ion-icon>
                    <div>{{ movie?.comments.length }} Comments</div>
                  </ion-button>
                  <ion-note slot="end">
                    {{ movie?.year }} <ion-icon name='calendar' slot="start"></ion-icon>
                  </ion-note>
                </ion-item>
              </ion-row>

              <ion-row no-padding justify-content-center>
                  <ion-col col-auto text-left>
                    <ion-button fill="clear" size="small" color="primary" (click)="onClickLike()">
                      <ion-icon name="thumbs-up" slot="start"></ion-icon>
                      Like
                    </ion-button>
                  </ion-col>
                  <ion-col col-auto text-right>
                      <ion-button fill="clear" size="small" color="primary" (click)="onClickComment()">
                        <ion-icon name='chatboxes' slot="start"></ion-icon>
                        Comment
                      </ion-button>
                  </ion-col>
                  <ion-col col-auto text-center>
                    <ion-button fill="clear" size="small" color="primary">
                      <ion-icon name='share-alt' slot="start"></ion-icon>
                      Share
                    </ion-button>
                  </ion-col>
                </ion-row>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>
</ion-content>


<!--
<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let speaker of speakers">

          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail-none button (click)="goToSpeakerDetail(speaker)">
                <ion-avatar slot="start">
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                {{speaker.name}}
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let session of speaker.sessions" button (click)="goToSessionDetail(session)">
                  <h3>{{session.name}}</h3>
                </ion-item>

                <ion-item button (click)="goToSpeakerDetail(speaker)">
                  <h3>About {{speaker.name}}</h3>
                </ion-item>
              </ion-list>
            </ion-card-content>

            <ion-row no-padding justify-content-center>
              <ion-col col-auto text-left>
                <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  Tweet
                </ion-button>
              </ion-col>
              <ion-col col-auto text-center>
                <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                  <ion-icon name='share-alt' slot="start"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
              <ion-col col-auto text-right>
                <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                  <ion-icon name='chatboxes' slot="start"></ion-icon>
                  Contact
                </ion-button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
-->

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none;"></iframe></div>
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
