.action-button {
    padding-right: 10px;
}

.github-button {
    width: 49px;
    height: 20px;
    padding-right: 5px;
    display: inline;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    ion-card img {
        width: calc(100% - 250px);;
        margin: auto;
    }
}