.action-button {
    padding-right: 10px;
}

.github-button {
    width: 49px;
    height: 20px;
    padding-right: 5px;
    display: inline;
}

.genre-image {
    width: 30px;
    height: 30px;
    padding: 3px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    ion-item img {
        width: calc(100% - 400px);;
        margin: auto;
    }
}

/* Large desktops and laptops */

@media (min-width: 1200px) {
    ion-item img {
        width: calc(100% - 500px);;
        margin: auto;
    }
}