<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-icon name="close" (click)="dismiss(movieForm.value)" color="light"></ion-icon>
        </ion-buttons>
        <ion-title>
          {{ modal.title }}
        </ion-title>
    </ion-toolbar>
</ion-header>
      
<ion-content class="outer-content" padding>
    <form [formGroup]="movieForm" novalidate ngxsForm="catalog.movieForm" (ngSubmit)="movieFormSubmit()">
    <ion-list inset>
        <ion-item [class.has-error]="movieForm.get('title').hasError('required') && movieForm.get('title').touched">
          <ion-label position="floating">Title *</ion-label>
          <ion-input #myInput id='myInput' type="text" formControlName="title" required></ion-input>
        </ion-item>
        <ion-item *ngIf="movieForm.get('title').hasError('required') && movieForm.get('title').touched" no-lines>
          <div class="error-message">
              This field is required.
          </div>
        </ion-item>
        <ion-item [class.has-error]="movieForm.get('year').hasError('required') && movieForm.get('year').touched">
          <ion-label position="floating">Year *</ion-label>
          <ion-input type="number" formControlName="year" required></ion-input>
        </ion-item>
        <ion-item *ngIf="movieForm.get('year').hasError('required') && movieForm.get('year').touched" no-lines>
            <div class="error-message">
                This field is required.
            </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Director</ion-label>
          <ion-input type="text" formControlName="director"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cast</ion-label>
          <ion-textarea formControlName="cast"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Genre</ion-label>
          <!--
          <ion-input type="text" formControlName="genre"></ion-input>
          -->
          <ion-select id="genre" formControlName="genre" interface="popover" multiple="true">
            <ion-select-option value="Action">Action</ion-select-option>
            <ion-select-option value="Adventure">Adventure</ion-select-option>
            <ion-select-option value="Comedy">Comedy</ion-select-option>
            <ion-select-option value="Crime">Crime</ion-select-option>
            <ion-select-option value="Drama">Drama</ion-select-option>
            <ion-select-option value="Horror">Horror</ion-select-option>
            <ion-select-option value="Musicals">Musicals</ion-select-option>
            <ion-select-option value="Science Fiction">Science Fiction</ion-select-option>
            <ion-select-option value="War">War</ion-select-option>
            <ion-select-option value="Westerns">Westerns</ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Notes</ion-label>
            <ion-textarea formControlName="notes"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">URL Poster</ion-label>
          <ion-input type="text" formControlName="poster"></ion-input>
        </ion-item>
        <ion-item class="take-picture">
            <p><b>NOTE</b>: Select movie picture from your device or take a movie picture.</p>
            <ion-button (click)="takePicture()" color="tertiary">Select / Take Picture</ion-button>
        </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" [disabled]='!movieForm.valid' >{{ modal.buttonText }}</ion-button>
    <ion-button color="danger" [disabled]='!movieForm.valid' (click)="clearMovieForm()" *ngIf="navParams.data.option === 'add'">Clear</ion-button>
    </form>
</ion-content>