app-movie-modal {
    --ion-background-color: var(--ion-color-light);

    .has-error {
        border-bottom: solid 1px var(--ion-color-danger);
    }

    .error-message {
        color: var(--ion-color-danger)!important;
    }

    .take-picture {
        padding-left: 0;
        margin-top: 10px;
    }

    .ng-dropdown-panel {
        border: none!important;
        position: unset!important;
    }

    .genreItem {
        padding: 0!important;
    }

    .genreLabel {
        color: var(--ion-text-md-color-step-600,var(--ion-text-color-step-600,#999));
    }
}
