app-filter-movie-popover {
    --ion-background-color: var(--ion-color-light);
}

.label {
    color: var(--ion-text-md-color-step-600,var(--ion-text-color-step-600,#999));
}

.ng-dropdown-panel {
    border: none!important;
    position: unset!important;
}
