app-filter-movie-popover {
    --ion-background-color: var(--ion-color-light);
}

.yearsLabel {
    color: var(--ion-text-md-color-step-600,var(--ion-text-color-step-600,#999));
}

.range-md.range-has-pin {
    padding-top: 20px;
}

.iconRangeRight {
    padding-left: 4px;
}

.ng-dropdown-panel {
    border: none!important;
    position: unset!important;
}