.round-button {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-right: 2px;
    border-radius: 50%;
}

.skeleton-text span {
    background-image:
        linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
        linear-gradient( rgb(94, 87, 87) 20px, transparent 0 );
	background-repeat: repeat-y;
    background-size: 50px 1em, 100% 1em;
    background-position: -50px 0, 0 0;
    animation: shine 1s infinite;
}

.skeleton-thumbnail {
    background-color: var(--ion-color-light-shade);
    opacity: 0.5;
}

ion-col {
    display: flex;
    justify-content: center;
}
