<ion-header no-border>
  <ion-toolbar color='primary'>
      <ion-title>Movies List</ion-title>
      <ion-buttons slot='end'>
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>

  <!-- Add movie fab button. -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button mini color="secondary" (click)="addMovie()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab [hidden]="!showScrollTop" vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button mini color="secondary" (click)="scrollToTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item no-lines class="item-info">
      <h2>Sample project that shows how to build a Movies Catalog APP with Angular, Ionic 4, Capacitor and NGXS (State Management).</h2>
  </ion-item>

  <ion-list *ngIf="showSkeleton">

    <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
      <ion-thumbnail slot="start">
        <img [src]="" alt="">
      </ion-thumbnail>
      <ion-label>
        <h2><ion-skeleton-text width=200px></ion-skeleton-text></h2>
        <h3><ion-skeleton-text width=80px></ion-skeleton-text></h3>
        <h4><ion-skeleton-text width=500px></ion-skeleton-text></h4>
      </ion-label>
      <ion-note slot="end">
        <ion-icon name="swap"></ion-icon>
      </ion-note>
    </ion-item>

  </ion-list>

  <!-- Movies List. -->
  <ion-list *ngIf="!showSkeleton">
    <!--<ion-item *ngFor="let movie of movies$ | async" detail="true" tappable routerLink="/detail/{{ movie.title }}">-->
    <ion-item-sliding *ngFor="let movie of movies$ | async; let i = index" detail="true">

      <ion-item tappable (click)="viewMovieDetails(movie)">
      <ion-thumbnail slot="start">
        <img [src]="movie.poster" alt="">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <h3><ion-icon name="calendar" color="primary" slot="start"></ion-icon>{{ movie.year }}</h3>
        <h4>{{ movie.notes }}</h4>
      </ion-label>
      <ion-note slot="end">
          <ion-icon name="swap"></ion-icon>
      </ion-note>
      </ion-item>

      <!-- Sliding options. -->
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="editMovie(movie, i)"><ion-icon name="create"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="deleteMovie(movie)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list> 
  
  <!--
  <ion-list>
    <ion-item *ngFor="let i of items">{{i}}</ion-item>
  </ion-list>
  -->

  <!-- Infinite Scroll. -->
  <ion-infinite-scroll #infiniteScroll id="infinite-scroll" threshold="100px" (ionInfinite)="doInfinite()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more movies...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none;"></iframe></div>
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
